html, body {
  height: 100%;
  margin: 0;
}

@font-face {
  font-family: Abril Fatface; /* Гарнитура шрифта */
  src: url(AbrilFatface-Regular.ttf); /* Путь к файлу со шрифтом */
 }

body {
  font-family: 'Abril Fatface', serif;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
  flex-direction: column;
  background-color: black;
  }

  #video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

#video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#text-overlay {
  position: absolute;
  top: 60%;
  left: 45%;
  transform: translate(-50%, -50%);
  font-size: 6rem;
  font-family: 'Abril Fatface', serif;
  color: black;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: -10px;
  width: 525px;
}

.subtext {
  display: inline-block;
  font-size: 2rem;
  color: black;

}
.subtext a {
  color: black;
  text-decoration: none;
}

.quote {
  position: absolute;
  top: 60%;
  left: 75%;
  transform: translate(-50%, -50%);
  font-family: 'Abril Fatface', serif;
  color: black;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: -10px;
  font-size: 2rem;
  margin-top: 2rem;

}

  
@media (min-width: 360px) {
  
  body {
    font-size: 5px;
  }
  
  
  .gallery li {
    width: 50%;
  }
}


.quote {
font-size: small;
}

#text-overlay {
  font-size: small;
}

#subtext {
  font-size: small;
}



@media (min-width: 992px) {
 
  body {
    font-size: 18px;
  }
}


  @media (min-width: 1382px) {
    body {
      font-size: 20px;
    }
    .gallery li {
      width: 25%;
    }
  }

  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1, h2, h3 {
    margin: 0;
  }
  
  main {
    height: 100%;
  }
  
  /* Стили для подвала */
 
  